@model HomeViewModel

<section id="carouselExampleIndicators1" class="carousel slide mt-5" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner rounded">
        <div class="carousel-item active">
            <img src="~/img/s1.jpg" class="d-block w-100" alt="">
        </div>
        <div class="carousel-item">
            <img src="~/img/s2.jpg" class="d-block w-100" alt="">
        </div>
        <div class="carousel-item">
            <img src="~/img/s3.jpg" class="d-block w-100" alt="">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators1"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators1"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</section>

<section class="my-10">
    <h3 class="mb-4">Featured Categories</h3>
    <div class="row">
        <div class="col-md-12">
            <div id="carouselExampleIndicators2" class="carousel slide mb-6" data-bs-ride="carousel">
                <div class="carousel-indicators" style="bottom:-50px">
                    <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"
                        style="background-color: black;"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="1"
                        aria-label="Slide 2" style="background-color: black;"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            @foreach (var item in Model.Categories)
                            {
                                if (item.CategoryId <= 6)
                                {
                                    <div id="category_@item.CategoryId" class="col-12 col-md-4 col-xl-2 mb-3">
                                        <a href="/category/@item.CategoryUrl" class="text-decoration-none text-dark">
                                            <div class="card d-flex align-items-center justify-content-center rounded">
                                                <img src="~/img/categories/@item.CategoryImage" class="pt-4" alt="">
                                                <div class="card-body mb-4">
                                                    <div class="card-text">@item.CategoryName</div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            @foreach (var item in Model.Categories)
                            {
                                @if (item.CategoryId >= 7)
                                {
                                    <div id="category_@item.CategoryId" class="col-12 col-md-4 col-xl-2 mb-3">
                                        <a href="/category/@item.CategoryUrl" class="text-decoration-none text-dark" href="#">
                                            <div class="card d-flex align-items-center justify-content-center">
                                                <img src="~/img/categories/@item.CategoryImage" class="pt-4" alt="">
                                                <div class="card-body mb-4">
                                                    <div class="card-text">@item.CategoryName</div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="my-10">
    <div class="row">
        <div class="col-12 col-md-6 mb-3">
            <div class="py-10 px-8 rounded"
                style="background: url('/img/fruits-vegetables.jpg') no-repeat; background-size: cover">
                <div>
                    <h3>Fruits & Vegetables</h3>
                    <p>Get Upto 30% Off</p>
                    <a class="btn btn-dark rounded" href="#">Shop Now</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="py-10 px-8 rounded"
                style="background: url('/img/freshly-baked-buns.jpg') no-repeat; background-size: cover">
                <div>
                    <h3>Freshly Baked Buns</h3>
                    <p>Get Upto 25% Off</p>
                    <a class="btn btn-dark rounded" href="#">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="my-10">
    <h3 class="mb-4">Popular Products</h3>
    <vc:products-list></vc:products-list>

</section>

<section class="my-10">
    <h3 class="fw-bold mb-4">Best Sales of the Week</h3>
    <div class="row">
        <div class="col-lg-6 col-xl-3 mb-2">
            <div class="card-width py-9 px-8 rounded"
                style="background: url('/img/basket.jpg') no-repeat; background-size: cover; background-position: center;">
                <div>
                    <h3>Buy Before You Miss!</h3>
                    <p>Get the best deal before close.</p>
                    <a class="btn btn-green rounded" href="#" style="padding: 8px 16px;">
                        Shop Now
                        <i class="bi bi-arrow-right ms-2"></i>
                    </a>
                </div>
            </div>
        </div>

        @foreach (var item in Model.Products)
        {
            if (item.ProductId <= 3)
            {
                <div class="col-lg-6 col-xl-3">
                    <div class="card rounded">
                        <div class="card-body" id="@item.ProductId">
                            <div class="text-center">
                                <a href="#">
                                    <img src="~/img/products/@item.ProductImage" alt="">
                                </a>
                            </div>
                            <div class="text-smlall mb-1">
                                <a class="text-decoration-none text-muted" href="">
                                    <small>@item.Category?.CategoryName</small>
                                </a>
                            </div>
                            <div class="mb-3">
                                <a class="text-decoration-none text-dark" href="">
                                    @item.ProductName
                                </a>
                            </div>
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <div>
                                    <span class="text-muted text-decoration-line-through pe-1"></span>
                                    <span>$@item.ProductPrice</span>
                                </div>
                                <div>
                                    <span>Total sales: 41</span>
                                </div>
                            </div>
                            <div class="mb-4">
                                <a class="btn btn-green btn-lg rounded w-100" href="">
                                    <i class="bi bi-plus pe-2"></i>Add to card
                                </a>
                            </div>
                            <div class="row mb-2">
                                <div class="col-3">
                                    <div class="timer-card d-flex justify-content-center align-items-center rounded">
                                        <span>6</span>
                                        <span class="text-muted">Days</span>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="timer-card d-flex justify-content-center align-items-center rounded">
                                        <span>23</span>
                                        <span class="text-muted">Hours</span>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="timer-card d-flex justify-content-center align-items-center rounded">
                                        <span>59</span>
                                        <span class="text-muted">Mins</span>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="timer-card d-flex justify-content-center align-items-center rounded">
                                        <span>59</span>
                                        <span class="text-muted">Sec</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</section>

<section class="my-10">
    <div class="row">
        <div class="col-md-6 col-lg-3">
            <div class="mb-3">
                <i class="bi bi-clock-history" style="font-size: 35px; color: #1b1;"></i>
            </div>
            <h5 class="fw-bold">10 minute grocery now</h5>
            <p class="text-secondary">Get your order delivered to your doorstep at the earliest from FreshCart
                pickup
                stores near you.</p>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="mb-3">
                <i class="bi bi-gift" style="font-size: 35px; color: #1b1;"></i>
            </div>
            <h5 class="fw-bold">Best Prices & Offers</h5>
            <p class="text-secondary">Cheaper prices than your local supermarket, great cashback offers to top it
                off.
                Get best pricess &
                offers.</p>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="mb-3">
                <i class="bi bi-box-seam" style="font-size: 35px; color: #1b1;"></i>
            </div>
            <h5 class="fw-bold">Wide Assortment</h5>
            <p class="text-secondary">Choose from 5000+ products across food, personal care, household, bakery, veg
                and
                non-veg & other
                categories.</p>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="mb-3">
                <i class="bi bi-repeat" style="font-size: 35px; color: #1b1;"></i>
            </div>
            <h5 class="fw-bold">Easy Returns</h5>
            <p class="text-secondary">Not satisfied with a product? Return it at the doorstep & get a refund within
                hours. No questions asked
                <a class="text-decoration-none" href="#">policy.</a>
            </p>
        </div>
    </div>
</section>
