<div class="mt-4">
    <div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item me-3">
                        <a asp-controller="Home" asp-action="Index" class="text-decoration-none text-success ">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a asp-controller="Categories" asp-action="List"
                            class="text-decoration-none text-success mx-3">Shop</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        <span class="ms-3">Dairy, Bread & Eggs</span>
                    </li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="my-4">
    <div class="row">
        <div class="col-lg-3">

            <div class="mb-2">
                <h5 class="fw-bold">Categories</h5>
                <div id="categoryCollapseMenu">
                    <ul class="nav flex-column">
                        @foreach (var ctg in Model.Categories)
                        {
                            var collapseId = "categories" + ctg.CategoryId;
                            <li class="nav-item border-bottom w-80">
                                <a class="nav-link d-flex justify-content-between text-dark my-2 p-0"
                                    data-bs-toggle="collapse" href="#@collapseId" aria-expanded="false"
                                    aria-controls="@collapseId">
                                    @ctg.CategoryName
                                    <i class="bi bi-chevron-right ms-5"></i>
                                </a>
                                <div class="collapse" id="@collapseId" data-bs-parent="#categoryCollapseMenu">
                                    <ul class="nav flex-column">
                                        @foreach (var subctg in Model.SubCategories)
                                        {
                                            if (subctg.CategoryId == ctg.CategoryId)
                                            {
                                                <li class="nav-item">
                                                    <a href="#" class="nav-link text-dark">@subctg.SubCategoryName</a>
                                                </li>
                                            }
                                        }

                                    </ul>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>

            <div class="mt-5">
                <h5 class="fw-bold">Stores</h5>
                <form action="" role="search">
                    <input type="search" class="form-control rounded ps-3 my-3 w-80" placeholder="Search by store">
                </form>

                @foreach (var check in Model.Stores)
                {
                    var checkId = "flexCehckChecked" + check.StoreId;
                    <div class="form-check my-2">
                        <input type="checkbox" class="form-check-input" value="" id="@checkId">
                        <label class="form-check-label text-gray" for="@checkId">@check.StoreName</label>
                    </div>
                }
            </div>

        </div>

        <div class="col-12 col-lg-9">

            <div class="bg-light border-0 rounded">
                <div class="card-body">
                    <h2 class="p-4 fs-1 fw-bold">Dairy, Bread & Eggs</h2>
                </div>
            </div>

            <div class="d-flex justify-content-between align-items-center mt-3">
                <div>
                    <span>
                        Products Found
                    </span>
                </div>
                <div class="d-flex align-items-center">
                    <div class="d-flex">
                        <a href="" class="text-dark me-2"><i class="bi bi-list-ul"></i></a>
                        <a href="" class="text-dark me-2"><i class="bi bi-grid"></i></a>
                        <a href="" class="text-dark"><i class="bi bi-grid-3x3-gap"></i></a>
                    </div>
                    <div class="d-flex ms-3">
                        <div class="me-3">
                            <select class="form-select rounded" aria-label="Default select example" name="" id="">
                                <option selected>Show: 50</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                            </select>
                        </div>
                        <div>
                            <select class="form-select rounded" aria-label="Default select example" name="" id="">
                                <option selected>Sort by: Featured</option>
                                <option value="10">Price: Low to High</option>
                                <option value="20">Price: High to Low</option>
                                <option value="30">Release Date</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                @foreach (var prd in Model.Products)
                {
                    <div class="col-12 col-md-6 col-lg-4 col-xl-3 my-4">
                        <div class="card rounded">
                            <div class="card-body">
                                <div class="text-center position-relative">
                                    <div class="position-absolute top-0 start-0">
                                        <span class="badge bg-danger">Sale</span>
                                    </div>
                                    <a asp-controller="Categories" asp-action="Details" asp-route-id="@prd.ProductId">
                                        <img src="~/img/products/@prd.ProductImage" alt="" class="img-fluid">
                                    </a>
                                </div>
                                <div class="text-small mb-1">
                                    <a href="" class="text-decoration-none text-muted"><small>@prd.CategoryName</small></a>
                                </div>
                                <div class="mb-3">
                                    <a href="" class="text-dark text-decoration-none">@prd.ProductName</a>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <span class="text-decoration-line-through text-muted pe-1"></span>
                                        <span class="text-dark">$@prd.ProductPrice</span>
                                    </div>
                                    <div>
                                        <a class="btn btn-green rounded btn-sm" href="#">
                                            <i class="bi bi-plus pe-2"></i>Add</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>

            <div class="d-flex justify-content-center">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a href="#" class="page-link rounded" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item"><a href="#" class="page-link rounded">1</a></li>
                        <li class="page-item"><a href="#" class="page-link rounded">2</a></li>
                        <li class="page-item"><a href="#" class="page-link rounded">3</a></li>
                        <li class="page-item"><a href="#" class="page-link rounded">...</a></li>
                        <li class="page-item"><a href="#" class="page-link rounded">12</a></li>
                        <li class="page-item">
                            <a href="#" class="page-link rounded" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>